
div
  div.course-forum-thread-crumbs

  div.course-forum-thread-header-wrapper

  div.course-forum-thread-sort

  div.course-forum-thread-tags

  div.course-forum-thread-area-container
    div.course-forum-top-scroll-indicator
      | ⬆ scroll up for more ⬆
    div.course-forum-thread-posts-container(style='clear: right;')
    div.course-forum-bottom-scroll-indicator
      | ⬇ scroll down for more ⬇
    div.course-forum-thread-new-post
