form.form-inline
	input(type="text", , value=thread.get('title'), style="height:100%;")

	button.btn(type="submit", style="margin-left: 10px;") Save
	span &nbsp; &nbsp;
	a(href="javascript:void(0)", role="Button") Cancel