h5(style="font-weight:normal") Forum activity for:
div.coursera-profile-basics

div.coursera-profile-forum-activities(style="display:none; overflow:hidden; border-top: 1px solid #ccc; margin:15px 0px;")

div.course-forum-profile-search(style="display:none; clear: both; width: 100%; text-align: center; margin-top: 30px;")
  a(style="display:none; border: 1px solid #CCC; padding: 10px;") Find all activities from this user